<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mybatisplus.dao.EmployeeMapper">
    <select id="queryEmployeeById" resultType="com.springboot.mybatisplus.entity.Employee" parameterType="java.lang.String">
       select t.id as "id",t.last_name as "lastName",t.age as "age",t.gender as "gender"
       from tbl_employee  t where t.id = #{id}
    </select>
</mapper>